/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.Mf
{
	width: 0px;
	height: 30px;
	background-image: url("s2r://materials/quake/menu/menufont_png.vtex");
	background-repeat: no-repeat;
	background-size: 256px 256px;
	texture-sampling: point;
	margin-right: 2px;
}

.Mf.m47
{
	width: 19px;
	background-position: -230px -225px;
}

.Mf.m48
{
	width: 30px;
	background-position: -129px -195px;
}

.Mf.m49
{
	width: 12px;
	background-position: -170px -194px;
}

.Mf.m50
{
	width: 25px;
	background-position: -195px -194px;
}

.Mf.m51
{
	width: 22px;
	background-position: -229px -194px;
}

.Mf.m52
{
	width: 29px;
	background-position: -1px -225px;
}

.Mf.m53
{
	width: 23px;
	background-position: -36px -225px;
}

.Mf.m54
{
	width: 27px;
	background-position: -66px -226px;
}

.Mf.m55
{
	width: 22px;
	background-position: -101px -226px;
}

.Mf.m56
{
	width: 27px;
	background-position: -130px -226px;
}

.Mf.m57
{
	width: 27px;
	background-position: -162px -226px;
}

.Mf.m58
{
	width: 6px;
	background-position: -205px -233px;
}

.Mf.m65
{
	width: 30px;
	background-position: -1px -2px;
}

.Mf.m66
{
	width: 28px;
	background-position: -34px -2px;
}

.Mf.m67
{
	width: 28px;
	background-position: -66px -2px;
}

.Mf.m68
{
	width: 27px;
	background-position: -99px -2px;
}

.Mf.m69
{
	width: 26px;
	background-position: -131px -2px;
}

.Mf.m70
{
	width: 25px;
	background-position: -164px -2px;
}

.Mf.m71
{
	width: 29px;
	background-position: -193px -2px;
}

.Mf.m72
{
	width: 28px;
	background-position: -226px -2px;
}

.Mf.m73
{
	width: 10px;
	background-position: -11px -34px;
}

.Mf.m74
{
	width: 14px;
	background-position: -41px -34px;
}

.Mf.m75
{
	width: 28px;
	background-position: -66px -33px;
}

.Mf.m76
{
	width: 26px;
	background-position: -99px -34px;
}

.Mf.m77
{
	width: 28px;
	background-position: -130px -34px;
}

.Mf.m78
{
	width: 28px;
	background-position: -162px -34px;
}

.Mf.m79
{
	width: 30px;
	background-position: -193px -34px;
}

.Mf.m80
{
	width: 28px;
	background-position: -226px -34px;
}

.Mf.m81
{
	width: 31px;
	background-position: -1px -66px;
}

.Mf.m82
{
	width: 29px;
	background-position: -33px -66px;
}

.Mf.m83
{
	width: 28px;
	background-position: -66px -66px;
}

.Mf.m84
{
	width: 28px;
	background-position: -98px -66px;
}

.Mf.m85
{
	width: 28px;
	background-position: -130px -66px;
}

.Mf.m86
{
	width: 30px;
	background-position: -161px -66px;
}

.Mf.m87
{
	width: 30px;
	background-position: -193px -66px;
}

.Mf.m88
{
	width: 30px;
	background-position: -225px -66px;
}

.Mf.m89
{
	width: 28px;
	background-position: -3px -98px;
}

.Mf.m90
{
	width: 28px;
	background-position: -34px -98px;
}

.Mf.m32
{
	width: 16px;
	background-position: 256px 256px;
}

